.headset-icon-CD-unit4-page6-1 {
  position: absolute;
  padding: 5px;
  top: 4%;
  left: 36%;
  cursor: pointer;
}

.click-icon-unit4-page6-1 {
    position: absolute;
    padding: 5px;
    top: 2.5%;
    left: 47%;
    cursor: pointer;
}
.click-icon-unit4-page6-2 {
    position: absolute;
    padding: 5px;
    top: 42.4%;
    left: 44.2%;
    cursor: pointer;
}
.click-icon-unit4-page6-3 {
     position: absolute;
    padding: 5px;
    top: 73.8%;
    left: 38%;
    cursor: pointer;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
 
}
@media (max-width: 1024px) {
  
}
@media (max-width: 820px) {
 
}
