.q1-7{
  position: absolute;
  padding: 5px;
top: 13%;
    left: 38%;
  
}
.q2-7{
  position: absolute;
  padding: 5px;
    top: 54%;
    left: 17.5%;
}
.q3-7{  position: absolute;
  padding: 5px;
top: 2.5%;
    left: 48.5%;


}
.q4-7{
  position: absolute;
  padding: 5px;
    top: 55.5%;
    left: 40.5%;
}
.q5-7{  position: absolute;
  padding: 5px;
top: 2.5%;
    left: 30.5%;

}
.q6-7{
  position: absolute;
  padding: 5px;
     top: 60%;
    left: 56.5%;
}
.q7-7{  
position: absolute;
  padding: 5px;
top: 2.5%;
    left: 38%;
}
.q8-7{
 position: absolute;
  padding: 5px;
    top: 38.5%;
    left: 68.5%;

}
.q9-7{  
 position: absolute;
  padding: 5px;
top: 2.5%;
    left: 44.5%;
}
.q10-7{
  position: absolute;
  padding: 5px;
    top: 58%;
    left: 38.5%;
}
.q11-7{  position: absolute;
  padding: 5px;
top: 4.5%;
    left: 64.5%;

}
.q12-7{
  position: absolute;
  padding: 5px;
    top: 62%;
    left: 53%;
}
  
.q13-7{position: absolute;
  padding: 5px;
  top:58%;
  left:88.5%;
} 
 

.q14-7{
  position: absolute;
  padding: 5px;
  top:80%;
  left: 73.5%;
}