.click-icon-review9-page1-2 {
  position: absolute;
  padding: 5px;
    top: 41.4%;
    left: 42%;
  cursor: pointer;
}
.click-icon-review9-page1-1 {
  position: absolute;
  padding: 5px;
    top: 8.5%;
    left: 42%;
  cursor: pointer;
}
.click-icon-review9-page1-4 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
bottom: 38.5%;
    left: 29.5%;
  cursor: pointer;
}
