.click-icon-review7-page2-2 {
  position: absolute;
  padding: 5px;
    top: 29.6%;
    left: 39%;
  cursor: pointer;
}

.click-icon-review7-page2-3 {
  position: absolute;
  padding: 5px;
    bottom: 38.7%;
    left: 59.5%;

  cursor: pointer;
}
.click-icon-review7-page2-1 {
  position: absolute;
  padding: 5px;
      bottom: 91.5%;
    right: 57.5%;

  cursor: pointer;
}
.click-icon-review7-page2-4{
   position: absolute;
  padding: 5px;
  bottom: 20.5%;
  right: 30%;
  cursor: pointer;
}
