.click-icon-review1-page2-1 {
    position: absolute;
    padding: 5px;
    top: 3%;
    left: 65%;
    cursor: pointer;
}

.click-icon-review1-page2-2 {
position: absolute;
    padding: 5px;
    top: 39.3%;
    right: 32.3%;
    cursor: pointer;
}
.click-icon-review1-page2-3 {
    position: absolute;
    padding: 5px;
    bottom: 22.3%;
    left: 39%;
    cursor: pointer;
}

