.click-icon-review5-page2-2 {
position: absolute;
    padding: 5px;
    bottom: 51%;
    right: 30%;
    cursor: pointer;
}

.click-icon-review5-page2-3 {
  position: absolute;
  padding: 5px;
  bottom: 36.5%;
  left: 21.5%;
  cursor: pointer;
}
.click-icon-review5-page2-1 {
    position: absolute;
    padding: 5px;
    bottom: 91.5%;
    right: 38%;
    cursor: pointer;
}
.click-icon-review5-page2-4{
   position: absolute;
  padding: 5px;
  bottom: 20.5%;
  right: 30%;
  cursor: pointer;
}
