.headset-icon-CD-unit3-page6-1 {
  position: absolute;
  padding: 5px;
  top: 4%;
  left: 36%;
  cursor: pointer;
}

.click-icon-unit3-page6-1 {
    position: absolute;
    padding: 5px;
    top: 3%;
    left: 61.5%;
    cursor: pointer;
}
.click-icon-unit3-page6-2 {
    position: absolute;
    padding: 5px;
    top: 28.5%;
    left: 62.5%;
    cursor: pointer;
}
.click-icon-unit3-page6-3 {
    position: absolute;
    padding: 5px;
    top: 70.5%;
    left: 57.5%;
    cursor: pointer;

}
.headset-icon-CD-unit3-page6-2 {
  position: absolute;
  padding: 5px;
  bottom: 29%;
  left: 24%;
  cursor: pointer;
}
