.click-icon-review3-page2-1-p37 {
     position: absolute;
    padding: 5px;
    top: 2.5%;
    left: 29.3%;
    cursor: pointer;
}

.click-icon-review3-page2-2-p37 {
    position: absolute;
    padding: 5px;
    top: 39.2%;
    left: 42.3%;
    cursor: pointer;


}
.click-icon-review3-page2-3-p37 {
    position: absolute;
    padding: 5px;
    top: 69.5%;
    left: 30.3%;
    cursor: pointer;
}

.headset-icon-CD-review3-page2-1 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 26%;
  left: 24.5%;
  cursor: pointer;
}

